
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">

					</nav>
					<div>Ícones feitos por <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>, <a href="https://www.freepik.com" title="Freepik">Freepik</a>,<a href="https://www.flaticon.com/br/autores/xnimrodx" title="xnimrodx">xnimrodx</a>, <a href="https://www.flaticon.com/br/autores/catkuro" title="catkuro">catkuro</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div>


					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="">CurioCidades</a>
                        - desenvolvido por <a target="_blank" href="https://www.yanprada.com">Yan Prada</a>
					</div>
				</div>
            </footer>
