{% extends "layouts/base_piracicaba.html" %}
 {% load plotly_dash %}
{% block title %} Receitas {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">DESPESAS</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="/index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{%url 'pira_resumo'%}">Piracicaba</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<p>Despesas Prefeitura</p>
					</li>
				</ul>
			</div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-annoucement card-round">
            <div class="card-body text-center">
              <div class="card-opening">Despesas Correntes da Prefeitura</div>
                <div class="card-desc">
                  Despesas ao longo dos anos, descriminadas por tipo. Pode-se conferir o quanto foi gasto em Saúde ou Educação.
                    Além disso, há a separação entre tipos de cada despesa.
                </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row container">
        <h2>TOP 6. Despesas com maiores variações em absoluto:</h2>
        <div class="card-tools" style="margin-left: auto; float: right; padding-left: 150px;">
          <button onclick="top6DespPref()" class="btn btn-info  btn-round btn-sm">
            <span class="btn-label">
              <i class="fas fa-info-circle"></i>
            </span>
            Explicação
          </button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-6 col-sm-4 col-lg-2">
          <div class="card">
            <div class="card-body p-3 text-center">
              {% if pct_1 <= 0 %}
              <div class="text-right text-danger">
                {{pct_1|safe}}%
                <i class="fa fa-chevron-down"></i>
              </div>
              {% elif pct_1 > 0 %}
              <div class="text-right text-success">
                {{pct_1|safe}}%
                <i class="fa fa-chevron-up"></i>
              </div>
              {%endif%}
              <div class="h1 m-0">R$ {{valor_1|safe}} mi</div>
              <div class="text-muted2 mb-3">{{nome_1|safe}}</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
          <div class="card">
            <div class="card-body p-3 text-center">
              {% if pct_2 <= 0 %}
              <div class="text-right text-danger">
                {{pct_2}}%
                <i class="fa fa-chevron-down"></i>
              </div>
              {% elif pct_2 > 0 %}
              <div class="text-right text-success">
                {{pct_2}}%
                <i class="fa fa-chevron-up"></i>
              </div>
              {%endif%}
              <div class="h1 m-0">R$ {{valor_2}} mi</div>
              <div class="text-muted2 mb-3">{{nome_2}}</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
          <div class="card">
            <div class="card-body p-3 text-center">
              {% if pct_3 <= 0 %}
              <div class="text-right text-danger">
                {{pct_3}}%
                <i class="fa fa-chevron-down"></i>
              </div>
              {% elif pct_3 > 0 %}
              <div class="text-right text-success">
                {{pct_3}}%
                <i class="fa fa-chevron-up"></i>
              </div>
              {%endif%}
              <div class="h1 m-0">R$ {{valor_3}} mi</div>
              <div class="text-muted2 mb-3">{{nome_3}}</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
          <div class="card">
            <div class="card-body p-3 text-center">
              {% if pct_4 <= 0 %}
              <div class="text-right text-danger">
                {{pct_4}}%
                <i class="fa fa-chevron-down"></i>
              </div>
              {% elif pct_4 > 0 %}
              <div class="text-right text-success">
                {{pct_4}}%
                <i class="fa fa-chevron-up"></i>
              </div>
              {%endif%}
              <div class="h1 m-0">R$ {{valor_4}} mi</div>
              <div class="text-muted2 mb-3">{{nome_4}}</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
          <div class="card">
            <div class="card-body p-3 text-center">
              {% if pct_5 <= 0 %}
              <div class="text-right text-danger">
                {{pct_5}}%
                <i class="fa fa-chevron-down"></i>
              </div>
              {% elif pct_5 > 0 %}
              <div class="text-right text-success">
                {{pct_5}}%
                <i class="fa fa-chevron-up"></i>
              </div>
              {%endif%}
              <div class="h1 m-0">R$ {{valor_5}} mi</div>
              <div class="text-muted2 mb-3">{{nome_5}}</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
          <div class="card">
            <div class="card-body p-3 text-center">
              {% if pct_6 <= 0 %}
              <div class="text-right text-danger">
                {{pct_6}}%
                <i class="fa fa-chevron-down"></i>
              </div>
              {% elif pct_6 > 0 %}
              <div class="text-right text-success">
                {{pct_6}}%
                <i class="fa fa-chevron-up"></i>
              </div>
              {%endif%}
              <div class="h1 m-0">R$ {{valor_6}} mi</div>
              <div class="text-muted2 mb-3">{{nome_6}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
					<div class="card">
						<div class="card-header">
              <div class="card-head-row">
								<div class="card-title">Total Despesas Correntes <span class="small2">(milhões de reais , 2016-2020)</span> </div>
								<div class="card-tools">
									<button onclick="despPref()" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fas fa-info-circle"></i>
										</span>
										Explicação
									</button>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								<canvas id="htmlLegendsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
				</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
								<div class="card-title">TOP 10 Despesas</div>
								<div class="card-tools">
									<button onclick="despPrefTop10()" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fas fa-info-circle"></i>
										</span>
										Explicação
									</button>
								</div>
							</div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="radarChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
								<div class="card-title">TOP 3 Despesas Correntes</div>
								<div class="card-tools">
									<button onclick="despPrefTop3()" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fas fa-info-circle"></i>
										</span>
                    Explicação
									</button>
								</div>
							</div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleBarChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
								<div class="card-title">Saúde</div>
								<div class="card-tools">
									<button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fas fa-info-circle"></i>
										</span>
									</button>
								</div>
							</div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_saude"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                  <div class="card-title">Educação</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body ">
              <div class="chart-container">
                <canvas id="multipleLineChart_edu"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Saneamento</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_san"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Assistência Social</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_ass"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Gestão Ambiental</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_gest_amb"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Urbanismo</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_urb"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Administração</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_adm"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Segurança Pública</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_seg"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Trabalho</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_trab"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Cultura</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_cult"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Agricultura</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_agr"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Desportos</div>
                <div class="card-tools">
                  <button onclick="orcPref()" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChart_desp"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


  <script>
    $('#lineChart').sparkline([102,109,120,99,110,105,115], {
      type: 'line',
      height: '70',
      width: '100%',
      lineWidth: '2',
      lineColor: '#177dff',
      fillColor: 'rgba(23, 125, 255, 0.14)'
    });

    $('#lineChart2').sparkline([99,125,122,105,110,124,115], {
      type: 'line',
      height: '70',
      width: '100%',
      lineWidth: '2',
      lineColor: '#f3545d',
      fillColor: 'rgba(243, 84, 93, .14)'
    });

    $('#lineChart3').sparkline([105,103,123,100,95,105,115], {
      type: 'line',
      height: '70',
      width: '100%',
      lineWidth: '2',
      lineColor: '#ffa534',
      fillColor: 'rgba(255, 165, 52, .14)'
    });

  </script>

  <script>
		var
    htmlLegendsChart = document.getElementById('htmlLegendsChart').getContext('2d');
		multipleLineChart_desp = document.getElementById('multipleLineChart_desp').getContext('2d'),
    multipleLineChart_saude = document.getElementById('multipleLineChart_saude').getContext('2d'),
    multipleLineChart_edu = document.getElementById('multipleLineChart_edu').getContext('2d'),
    multipleLineChart_san = document.getElementById('multipleLineChart_san').getContext('2d'),
    multipleLineChart_ass = document.getElementById('multipleLineChart_ass').getContext('2d'),
    multipleLineChart_gest_amb = document.getElementById('multipleLineChart_gest_amb').getContext('2d'),
    multipleLineChart_urb = document.getElementById('multipleLineChart_urb').getContext('2d'),
    multipleLineChart_adm= document.getElementById('multipleLineChart_adm').getContext('2d'),
    multipleLineChart_seg= document.getElementById('multipleLineChart_seg').getContext('2d'),
    multipleLineChart_trab= document.getElementById('multipleLineChart_trab').getContext('2d'),
    multipleLineChart_cult= document.getElementById('multipleLineChart_cult').getContext('2d'),
    multipleLineChart_agr= document.getElementById('multipleLineChart_agr').getContext('2d'),
    radarChart = document.getElementById('radarChart').getContext('2d'),
		multipleBarChart = document.getElementById('multipleBarChart').getContext('2d');



    var myRadarChart = new Chart(radarChart, {
			type: 'radar',
			data: {
				labels: {{lst_nome|safe}},
				datasets: [{
					data:  {{lst_valor|safe}},
					borderColor: '#f3545d',
					backgroundColor : 'rgba(255, 137, 144, 0.3)',
					pointBackgroundColor: "#f3545d",
					pointHoverRadius: 4,
					pointRadius: 3,
					label: '6º bi 2020'
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend : {
					position: 'bottom'
				}
			}
		});

    var myMultipleLineChart_saude = new Chart(multipleLineChart_saude, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Atenção Básica",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{saude1|safe}}
        },{
          label: "Assistência Hospitalar e Ambulatorial",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{saude2|safe}}
        },{
          label: "Administração Geral",
          borderColor: "#f3545d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f3545d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{saude3|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_edu = new Chart(multipleLineChart_edu, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Ensino Fundamental",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{edu1|safe}}
        },{
          label: "Ensino Profissional",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{edu3|safe}}
        }, {
          label: "Ensino Superior",
          borderColor: "#d9bb29",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#d9bb29",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{edu4|safe}}
        }, {
          label: "Educação Infantil",
          borderColor: "#c42da6",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#c42da6",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{edu5|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_san = new Chart(multipleLineChart_san, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Saneamento Básico Urbano",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{san1|safe}}
        },{
          label: "Administração Geral",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{san2|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_ass = new Chart(multipleLineChart_ass, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Assistência à Criança e ao Adolescente",
          borderColor: "#d9bb29",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#d9bb29",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{ass1|safe}}
        },{
          label: "Assistência Comunitária",
          borderColor: "#c42da6",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#c42da6",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{ass2|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_gest_amb = new Chart(multipleLineChart_gest_amb, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Preservação e Conservação Ambiental",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{gest_amb1|safe}}
        },{
          label: "Controle Ambiental",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{gest_amb2|safe}}
        },{
          label: "Administração Geral",
          borderColor: "#c42da6",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#c42da6",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{gest_amb3|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_urb = new Chart(multipleLineChart_urb, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Infra-Estrutura Urbana",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{urb1|safe}}
        },{
          label: "Serviços Urbanos",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{urb2|safe}}
        },{
          label: "Transportes Coletivos Urbanos",
          borderColor: "#c42da6",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#c42da6",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{urb3|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_adm = new Chart(multipleLineChart_adm, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Administração Financeira",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{adm1|safe}}
        },{
          label: "Comunicação Social",
          borderColor: "#d9bb29",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#d9bb29",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{adm4|safe}}
        },{
          label: "Administração Geral",
          borderColor: "#f3545d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f3545d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{adm5|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_seg = new Chart(multipleLineChart_seg, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Policiamento",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{seg1|safe}}
        },{
          label: "Defesa Civil",
          borderColor: "#d9bb29",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#d9bb29",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{seg2|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_trab = new Chart(multipleLineChart_trab, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Proteção e Benefícios ao Trabalhador",
          borderColor: "#f3545d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f3545d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{trab1|safe}}
        },{
          label: "Relações de Trabalho",
          borderColor: "#d9bb29",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#d9bb29",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{trab2|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_cult = new Chart(multipleLineChart_cult, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Patrimônio Histórico Artístico e Arqueológico",
          borderColor: "#f3545d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f3545d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{cult1|safe}}
        },{
          label: "Difusão Cultural",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{cult2|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_agr = new Chart(multipleLineChart_agr, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Abastecimento",
          borderColor: "#f3545d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f3545d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{agr1|safe}}
        },{
          label: "Extensão Rural",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{agr2|safe}}
        },{
          label: "Administração Geral",
          borderColor: "#fdaf4b",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#fdaf4b",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{agr3|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChart_desp = new Chart(multipleLineChart_desp, {
      type: 'line',
      data: {
        labels: {{data|safe}},
        datasets: [{
          label: "Desporto de Rendimento",
          borderColor: "#f3545d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f3545d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{desp1|safe}}
        },{
          label: "Desporto Comunitário",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{desp2|safe}}
        },{
          label: "Lazer",
          borderColor: "#fdaf4b",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#fdaf4b",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{desp3|safe}}
        },{
          label: "Administração Geral",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{desp4|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });



  	var myMultipleBarChart = new Chart(multipleBarChart, {
  			type: 'bar',
  			data: {
  				labels: {{data|safe}},
  				datasets : [{
  					label: "Saúde",
  					backgroundColor: '#59d05d',
  					borderColor: '#59d05d',
  					data: {{dados_des_sau|safe}},
  				},{
  					label: "Educação",
  					backgroundColor: '#fdaf4b',
  					borderColor: '#fdaf4b',
  					data: {{dados_des_edu|safe}},
  				}, {
  					label: "Saneamento",
  					backgroundColor: '#177dff',
  					borderColor: '#177dff',
  					data: {{dados_des_san|safe}},
  				}],
  			},
  			options: {
  				responsive: true,
  				maintainAspectRatio: false,
  				legend: {
  					position : 'bottom'
  				},
  				title: {
  					display: true,
  					text: 'Comparativo do ano'
  				},
  				tooltips: {
  					mode: 'index',
  					intersect: false
  				},
  				responsive: true,
  				scales: {
  					xAxes: [{
  						stacked: true,
  					}],
  					yAxes: [{
  						stacked: true
  					}]
  				}
  			}
  		});


      var gradientStroke = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
      gradientStroke.addColorStop(0, '#11c900');
      gradientStroke.addColorStop(1, '#1bb30c');

      var gradientFill = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
      gradientFill.addColorStop(0, "rgba(21, 166, 7, 0.6)");
      gradientFill.addColorStop(1, "rgba(21, 166, 7, 0.3)");


    var gradientStroke2 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientStroke2.addColorStop(0, '#f3545d');
    gradientStroke2.addColorStop(1, '#f3545d');

    var gradientFill2 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientFill2.addColorStop(0, "rgba(243, 84, 93, 0.6)");
    gradientFill2.addColorStop(1, "rgba(243, 84, 93, 0.6)");

    var gradientStroke3 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientStroke3.addColorStop(0, '#fdaf4b');
    gradientStroke3.addColorStop(1, '#ffc478');

    var gradientFill3 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientFill3.addColorStop(0, "rgba(253, 175, 75, 0.7)");
    gradientFill3.addColorStop(1, "rgba(253, 175, 75, 0.7)");

    var myHtmlLegendsChart = new Chart(htmlLegendsChart, {
      type: 'line',
      data: {
        labels: {{data2|safe}},
        datasets: [  {
          label: "Liquidada",
          borderColor: gradientStroke2,
          pointBackgroundColor: gradientStroke2,
          pointRadius: 0,
          backgroundColor: gradientFill2,
          legendColor: '#f3545d',
          fill: true,
          borderWidth: 1,
          data: {{dados_des_corr_liq|safe}}
        }, {
          label: "Empenhada",
          borderColor: gradientStroke,
          pointBackgroundColor: gradientStroke,
          pointRadius: 0,
          backgroundColor: gradientFill,
          legendColor: '#11c900',
          fill: true,
          borderWidth: 1,
          data: {{dados_des_corr_emp|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        },
        scales: {
          yAxes: [{
            ticks: {
              fontColor: "rgba(0,0,0,0.5)",
              fontStyle: "500",
              beginAtZero: false,
              maxTicksLimit: 5,
              padding: 20
            },
            gridLines: {
              drawTicks: false,
              display: false
            }
          }],
          xAxes: [{
            gridLines: {
              zeroLineColor: "transparent"
            },
            ticks: {
              padding: 20,
              fontColor: "rgba(0,0,0,0.5)",
              fontStyle: "500"
            }
          }]
        },
        legendCallback: function(chart) {
          var text = [];
          text.push('<ul class="' + chart.id + '-legend html-legend">');
          for (var i = 0; i < chart.data.datasets.length; i++) {
            text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
            if (chart.data.datasets[i].label) {
              text.push(chart.data.datasets[i].label);
            }
            text.push('</li>');
          }
          text.push('</ul>');
          return text.join('');
        }
      }
    });

    var myLegendContainer = document.getElementById("myChartLegend");

		// generate HTML legend
		myLegendContainer.innerHTML = myHtmlLegendsChart.generateLegend();

		// bind onClick event to all LI-tags of the legend
		var legendItems = myLegendContainer.getElementsByTagName('li');
		for (var i = 0; i < legendItems.length; i += 1) {
			legendItems[i].addEventListener("click", legendClickCallback, false);
		}
	</script>

{% endblock javascripts %}
