{% extends "layouts/base_piracicaba.html" %}
 {% load plotly_dash %}
{% block title %} Receitas {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">RECEITAS</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="/index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{%url 'pira_resumo'%}">Piracicaba</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<p>Receitas Prefeitura</p>
					</li>
				</ul>
			</div>
      <div class="row">
        <div class="col-md-12">
					<div class="card card-annoucement card-round">
						<div class="card-body text-center">
							<div class="card-opening">Receitas correntes da Prefeitura </div>
                <div class="card-desc">
                Receitas ao longo dos anos, descriminadas por tipo. Pode-se conferir o quanto foi recebido da União, ou por Impostos do município.
                  Além disso, há a separação de tipos de imposto e de transferência.
                </div>
						</div>
					</div>
				</div>

      </div>
      <div class="row">
        <div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Total Receitas Correntes (milhões de reais , 2016-2020)</div>
						</div>
						<div class="card-body">

							<div class="chart-container">
								<canvas id="htmlLegendsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
				</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">TOP 10: Receitas <span class="small2">(milhões de reais , ano 2020)</div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="radarChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">TOP 3 : Receitas Correntes <span class="small2">(milhões de reais , 2016-2020)</span></div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChartTop3"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Composição Impostos (2020)</div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChartImpostos"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Composição das Transferências (2020, Estados, União etc)</div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="multipleLineChartTransf"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>




		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


  <script>
    $('#lineChart').sparkline([102,109,120,99,110,105,115], {
      type: 'line',
      height: '70',
      width: '100%',
      lineWidth: '2',
      lineColor: '#177dff',
      fillColor: 'rgba(23, 125, 255, 0.14)'
    });

    $('#lineChart2').sparkline([99,125,122,105,110,124,115], {
      type: 'line',
      height: '70',
      width: '100%',
      lineWidth: '2',
      lineColor: '#f3545d',
      fillColor: 'rgba(243, 84, 93, .14)'
    });

    $('#lineChart3').sparkline([105,103,123,100,95,105,115], {
      type: 'line',
      height: '70',
      width: '100%',
      lineWidth: '2',
      lineColor: '#ffa534',
      fillColor: 'rgba(255, 165, 52, .14)'
    });

  </script>

  <script>
		var
		multipleLineChartTop3 = document.getElementById('multipleLineChartTop3').getContext('2d'),
		multipleLineChartImpostos = document.getElementById('multipleLineChartImpostos').getContext('2d'),
    multipleLineChartTransf = document.getElementById('multipleLineChartTransf').getContext('2d'),
    radarChart = document.getElementById('radarChart').getContext('2d');

    var myRadarChart = new Chart(radarChart, {
			type: 'radar',
			data: {
				labels: {{top10_name|safe}},
				datasets: [{
					data:  {{top10_value|safe}},
					borderColor: '#54f75a',
					backgroundColor : 'rgba(84, 247, 90, 0.2)',
					pointBackgroundColor: "#54f75a",
					pointHoverRadius: 4,
					pointRadius: 3,
					label: '2020'
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend : {
					position: 'bottom'
				}
			}
		});




    var myMultipleLineChartTop3 = new Chart(multipleLineChartTop3, {
			type: 'line',
			data: {
				labels: {{data2|safe}},
				datasets: [{
					label: "Transf: Estados/União",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: {{dados_rec_transf_round|safe}}
				},{
					label: "Impostos",
					borderColor: "#59d05d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#59d05d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: {{dados_rec_imp_round|safe}}
				}, {
					label: "Receitas Serviços",
					borderColor: "#f3545d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#f3545d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: {{dados_rec_serv_round|safe}}
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					position: 'top',
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});


    var myMultipleLineChartImpostos = new Chart(multipleLineChartImpostos, {
      type: 'line',
      data: {
        labels: {{data_imposto|safe}},
        datasets: [{
          label: "IPTU",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{iptu|safe}}
        },{
          label: "ISS",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{iss|safe}}
        },{
          label: "ITBI",
          borderColor: "#fdaf4b",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#fdaf4b",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{itbi|safe}}
        },{
          label: "IRRF",
          borderColor: "#f3545d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f3545d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{irrf|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });

    var myMultipleLineChartTransf = new Chart(multipleLineChartTransf, {
      type: 'line',
      data: {
        labels: {{data_imposto|safe}},
        datasets: [{
          label: "Cota-Parte FPM",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{fpm|safe}}
        },{
          label: "Cota-Parte ITR",
          borderColor: "#fdaf4b",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#fdaf4b",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{itr|safe}}
        },{
          label: "Cota-Parte ICMS",
          borderColor: "#59d05d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#59d05d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{icms|safe}}
        }, {
          label: "Cota-Parte IPVA",
          borderColor: "#f3545d",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f3545d",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{ipva|safe}}
        },{
          label: "Repasses FUNDEB",
          borderColor: "#c42da6",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#c42da6",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: 'transparent',
          fill: true,
          borderWidth: 2,
          data: {{fundeb|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'top',
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        }
      }
    });



    var htmlLegendsChart = document.getElementById('htmlLegendsChart').getContext('2d');

    // Chart with HTML Legends

    var gradientStroke = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientStroke.addColorStop(0, '#11c900');
    gradientStroke.addColorStop(1, '#1bb30c');

    var gradientFill = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientFill.addColorStop(0, "rgba(21, 166, 7, 0.5)");
    gradientFill.addColorStop(1, "rgba(21, 166, 7, 0.3)");

    var gradientStroke2 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientStroke2.addColorStop(0, '#f3545d');
    gradientStroke2.addColorStop(1, '#f3545d');

    var gradientFill2 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientFill2.addColorStop(0, "rgba(243, 84, 93, 0.7)");
    gradientFill2.addColorStop(1, "rgba(255, 137, 144, 0.3)");

    var gradientStroke3 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientStroke3.addColorStop(0, '#fdaf4b');
    gradientStroke3.addColorStop(1, '#ffc478');

    var gradientFill3 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
    gradientFill3.addColorStop(0, "rgba(253, 175, 75, 0.7)");
    gradientFill3.addColorStop(1, "rgba(253, 175, 75, 0.7)");

    var myHtmlLegendsChart = new Chart(htmlLegendsChart, {
      type: 'line',
      data: {
        labels: {{data2|safe}},
        datasets: [  {
          label: "Receitas Correntes",
          borderColor: gradientStroke,
          pointBackgroundColor: gradientStroke,
          pointRadius: 0,
          backgroundColor: gradientFill,
          legendColor: '#11c900',
          fill: true,
          borderWidth: 1,
          data: {{dados_rec_corr_round|safe}}
        }]
      },
      options : {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        },
        scales: {
          yAxes: [{
            ticks: {
              fontColor: "rgba(0,0,0,0.5)",
              fontStyle: "500",
              beginAtZero: false,
              maxTicksLimit: 5,
              padding: 20
            },
            gridLines: {
              drawTicks: false,
              display: false
            }
          }],
          xAxes: [{
            gridLines: {
              zeroLineColor: "transparent"
            },
            ticks: {
              padding: 20,
              fontColor: "rgba(0,0,0,0.5)",
              fontStyle: "500"
            }
          }]
        },
        legendCallback: function(chart) {
          var text = [];
          text.push('<ul class="' + chart.id + '-legend html-legend">');
          for (var i = 0; i < chart.data.datasets.length; i++) {
            text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
            if (chart.data.datasets[i].label) {
              text.push(chart.data.datasets[i].label);
            }
            text.push('</li>');
          }
          text.push('</ul>');
          return text.join('');
        }
      }
    });
    var myLegendContainer = document.getElementById("myChartLegend");

    // generate HTML legend
    myLegendContainer.innerHTML = myHtmlLegendsChart.generateLegend();

    // bind onClick event to all LI-tags of the legend
    var legendItems = myLegendContainer.getElementsByTagName('li');
    for (var i = 0; i < legendItems.length; i += 1) {
      legendItems[i].addEventListener("click", legendClickCallback, false);
    }

	</script>

{% endblock javascripts %}
